.header {
  .musicPlayer & {
    & {
      padding: 0 10px;
      background-color: #000;
    }
    &.is_fixed {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
    }
    &.is_fixed + .wrap {
      padding-top: 48px;
    }
    .logo {
      & {
        display: inline-block;
        font-size: 25px;
        font-weight: 900;
        line-height: 48px;
        color: #fff;
      }
      & i:first-child {
        color: #e92d51;
      }
      & i:nth-child(2) {
        color: pink;
      }
    }
  }
}