@charset "UTF-8";

// common
@import "common/variables";
@import "common/base";
@import "common/placeholders";
@import "common/mixins";
@import "common/sprites";

// components
@import "import/components/Footer";
@import "import/components/GenreList.scss";
@import "import/components/Header";
@import "import/components/MusicPlayer";
@import "import/components/RecentMusicList.scss";

html, body, #app {
  height: 100%;
  background-color: #000;
}
$music_player_height: 60px;
.musicPlayer {
  & {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .header {
    flex-shrink: 1;
    height: 48px;
  }
  .wrap {
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    padding-bottom: $music_player_height;
    background-color: #000;
  }
  .footer {
    flex-shrink: 1;
    height: 48px;
  }
}

// container
@import "import/container/Main";
@import "import/container/PlayList";

